<div class="column year-column">
  <table>
    <tbody>
      <% @screencasts.each do |screencast| %>
        <tr>
          <td class="td-thumbnail">
            <%= link_to(image_tag(screencast.thumbnail_url, class: "thumbnail"), screencast_path(screencast[:slug])) %>
          </td>
          <td class="td-left">
            <h4>
              <% if screencast.video_embed && screencast.video_embed != "" %>
                <span class="prefix glyphicon glyphicon-film"></span>
              <% end %>
              <%= link_to screencast.title, screencast_path(screencast[:slug]) %>
            </h4>
            <span class="date-display desktop-only"><%= (screencast[:display_date] || screencast.created_at).strftime("%Y-%m-%d") %></span> 
          </td>
          <td class="td-right desktop-only">
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div style="text-align: center;">
    <%= paginate @screencasts %>
  </div>
  <% if @screencasts.length < 1 %>
    <p class="no-content">No Matching Result</p>
  <% end %>
</div>

