<h3 class="blog-title">Author</h3>

<div class="col-lg-12 column author-column">
  <div class="col-lg-2">
    <%= image_tag("https://avatars3.githubusercontent.com/u/6851886?v=4&s=100", class: "avatar") %>
  </div>
  <div class="col-lg-10">
    <p style="margin-top: 5px;">
      Adler Hsieh, currently a software developer. Have some experience in PHP but hate its syntax. Love Ruby, love its flexibility, laziness, and elegance. Work hard to be lazy.
    </p>
    <p>
      Contact through <%= link_to("Twitter", "https://twitter.com/adler_hsieh") %> and <%= link_to("LinkedIn", "https://www.linkedin.com/in/adler-hsieh-51837333") %> if needed.
    </p>
    </ul>
  </div>
</div>
